{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<style type="text/css">
    .panel-default {
    border-color: #ddd;


}
.panel {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid transparent;
    border-color: #ccc;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}


</style>
<table class="table">
    {% for row in book_list %}
    <tr>
        <td style="border: 0px">
            <div class="panel panel-default">
                <div class="row" style="align-items: center">
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Departure</h4>
                        <div class="stop">{{row.source}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.dest}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.status}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        {% if row.status == "BOOKED" %}
                        <form action="{% url 'cancellings' %}" method="post">
                            {% csrf_token %}
                            <div class="pull-right">

                                <button value="{{row.id}}" name="bus_id" type="submit"
                                        class="btn btn-primary float-left"
                                        style="background: #FF8500; border-color: #FF8500">Cancel booking
                                </button>

                            </div>
                            {{error}}

                        </form>
                        {% else %}
                        <form action="{% url 'delete_booking' %}" method="post">
                            {% csrf_token %}
                            <div class="pull-right">

                                <button value="{{row.uniccode}}" name="booking_id" type="submit"
                                        class="btn btn-primary float-left"
                                        style="background: #FF8500; border-color: #FF8500">Delete booking
                                </button>

                            </div>
                            {{error}}

                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}