{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of buses</h2>
<style type="text/css">
    .panel-default {
    border-color: #ddd;


}
.panel {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid transparent;
    border-color: #ccc;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}

</style>
<table class="table">
    {% if bus_list_to %}
    {% for row in bus_list_from %}
    {% for col in bus_list_to %}
    <tr>
        <td style="border: 0px">
            <div class="panel panel-default">
                <div class="row" style="align-items: center">
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Departure</h4>
                        <div class="stop">{{row.source}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                        <h4 class="caption">Departure</h4>
                        <div class="stop">{{col.source}}</div>
                        <div class="time">{{col.time }}</div>
                        <div class="date">{{col.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.dest}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>

                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{col.dest}}</div>
                        <div class="time">{{col.time }}</div>
                        <div class="date">{{col.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.dest}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>

                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{col.dest}}</div>
                        <div class="time">{{col.time }}</div>
                        <div class="date">{{col.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <form action="{% url 'bookings' %}" method="post">
                            {% csrf_token %}
                            <input name='bus_id' type="hidden" value="{{col.id}}">
                            <div class="pull-right">
                                <button value="{{row.id}}" name="button" type="submit"
                                        class="btn btn-primary float-left"
                                        style="background: #FF8500; border-color: #FF8500">{{row.price|add:col.price}}
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>

            </div>
        </td>

    </tr>
    {% endfor %}
    {% endfor %}

    {% else %}
    {% for row in bus_list_from %}
    <tr>
        <td style="border: 0px">
            <div class="panel panel-default">
                <div class="row" style="align-items: center">
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Departure</h4>
                        <div class="stop">{{row.source}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.dest}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <h4 class="caption">Arrival</h4>
                        <div class="stop">{{row.dest}}</div>
                        <div class="time">{{row.time }}</div>
                        <div class="date">{{row.date}}</div>
                    </div>
                    <div class="col-xs-6 col-sm-3 origin">
                        <form action="{% url 'bookings' %}" method="post">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{row.id}}" name="button" type="submit"
                                        class="btn btn-primary float-left"
                                        style="background: #FF8500; border-color: #FF8500">{{row.price}}
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    {% endif %}


</table>

{% endblock %}