{% extends 'myapp/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<style type="text/css">
    .panel-default {
    border-color: #ddd;


}
.panel {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid transparent;
    border-color: #ccc;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 15px;
}

h1{
font-size: 2rem;
}
button{
width: 100%;
}




</style>

<table class="table">
    {% if bus_list_to %}

    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">DIRECT</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <hr style="background-color: #ccc">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list2 %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration2}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">
                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{0}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost2}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">CHEAPEST</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list_price %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration_price}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <hr style="background-color: #ccc">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list2_price %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration2_price}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">
                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{1}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost2_price}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>







    {% else %}

    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">DIRECT</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">

                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{2}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">CHEAPEST</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list_price %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="date">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>

                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration_price}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">
                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{3}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost_price}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    {% endif %}

        {% if one_stop %}
    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">1 STOP</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list_one_stop %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="time">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>


                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration_one_stop}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">

                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{4}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost_one_stop}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    {% endif %}


    {% if two_stop %}
    <tr>
        <td style="border: 0px">
            <h1 style="text-align: center">2 STOP</h1>
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-md-10" style="margin: auto">
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Departure</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Arrival</h4>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <h4 class="caption">Duration</h4>
                            </div>
                        </div>
                        {% for row in combined_list_two_stop %}
                        <div class="row" style="padding-bottom: 2%">
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.source}}</div>
                                <div class="time">{{row.0.date }}</div>
                                <div class="date">{{row.0.time}}</div>
                            </div>
                            <div class="col-md-4" style="text-align: center">
                                <div class="stop">{{row.0.dest}}</div>
                                <div class="time">{{row.1}}</div>
                                <div class="date">{{row.2}}</div>


                            </div>
                            {%if forloop.counter == 1 %}
                            <div class="col-md-4" style="text-align: center; margin: auto">
                                <div class="date">{{duration_two_stop}}</div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-2" style="text-align: center; margin: auto">

                        <form action="{% url 'data' %}" method="post" style="margin-top: 100%; margin-bottom: 100%">
                            {% csrf_token %}
                            <div class="pull-right">
                                <button value="{{5}}" name="button" type="submit"
                                        class="btn btn-primary"
                                        style="background: #FF8500; border-color: #FF8500">{{cost_two_stop}} BYN
                                </button>
                            </div>
                            {{error}}

                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>

    {% endif %}


</table>

{% endblock %}