{% extends 'myapp/base.html' %}
{% block content %}
<head>
    <style>
        label{
        color: black;
        font-family: Helvetica, sans-serif;
        }
          .form-control{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;



  -webkit-border-radius: 30px;
  transition: 0.5s;
  outline: none;

}
h2{
color: #000000;
font-size: 30pt;
font-family: Helvetica, sans-serif;
padding-top: 20px;
margin: auto;
text-align: center;
padding-bottom: 10%;
padding-top: 10%;
}

    </style>
</head>
<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="">
                <h2>Sign in</h2>

                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Username</label>
                        <div class="col-10">
                            <input name='name' class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Password</label>
                        <div class="col-10">
                            <input name='password' class="form-control" type="password">
                        </div>
                    </div>
                    <div class="pull-right" style="text-align: center">
                        <button type="Submit" class="btn btn-primary" style="background: #FF8500; border-color: #FF8500">Sign in</button>
                    </div>

                </form>
                <p>{{error}}</p>
            </div>
        </div>

    </div>

{% endblock %}